.bg{
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(102, 98, 98, 0.62);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 10px;
}
.foot{
    background-color: #212529;
    color: rgb(154, 180, 171);
    border-radius: 0;
    font-size:20px;
    font-family:"monospace";
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}